# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
/.next/cache

# testing
/coverage

# production
/build

/client/.next
/server/.env
# server
/server/node_modules
/server/.env
/server/build
# misc
.DS_Store
*.pem
/server/build
# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
/client/.env*.local
/convert_json.js
# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/yarn.lock
.yarn.lock